{% extends "base.html" %}

{% block body %}

<div class= " " style="margin-top: 8%;">
    <div class="container thumbs">
        <div class="content-section">
            <h2>Osobni podaci</h2>
            <hr/>

        <div class="row">
            <div class="col-sm-4">
                <p><i class="fa fa-user"></i> Ime i Prezime: {{customer.name}} {{customer.surname}}</p>
                <br>
                <p class="text-secondary"><i class="fa fa-address-card"></i> Adresa: {{customer.address}}</p>

            </div>
            <div class="col-sm-4">
                <p class="text-secondary"><i class="fa fa-envelope"></i>  Email: {{customer.email}}</p>
                <br>
                <p class="text-secondary"><i class="fa fa-phone"></i> Telefon: {{customer.telephone}}</p>
            </div>
        </div>
        <br> <br>
        <div class="container thumbs">
            <div class="content-section">
                <h2>Povijest narudžbi</h2>
                <hr/>
            <div class="row">
            <div class="col-sm-12"> 
       
                <p>Datum narudzbe: {{result.create_date}}</p>
                <p>Broj narudzbe: {{result.order_number}}</p>
                <p>Proizvodi:</p>
                {% for i in result.products %}
           
                <img src="/{{i.image}}" style="width: 50px; height: 50px;">
                <p>{{i.web_name}}</p>
               
                {% endfor %}
            </div>
        </div>
            </div>

        </div>
        <br>
        <br>
        </div>
    </div>

</div>

{% endblock %}