 
{% extends "base.html" %}


       
{% block body %}
 
<body class="animsition">
	
	<!-- Header -->
	<br>
	<br>
	<br>
 
	
	<!-- Product category/Products -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						<a href="/product">Svi</a>				
					  </button>
					{% for i in categories %}
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					  <a href="{{ url_for('product', id=i.id)}}">{{ i.name }}</a>				
					  
					</button>
					{% endfor %}

				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Pretraga
					</div>
				</div>
				
				<!-- Search product -->
				<form action="product" method="GET">
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button  type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="keyword" placeholder="Search">
					</div>	
				</div>
				</form>
				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sortiraj prema cijeni
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Sve
									</a>
								</li>

								<li class="p-b-6">
									<a href="/product?sort=desc" class="filter-link stext-106 trans-04">
										Od veće prema manjoj
									</a>
								</li>

								<li class="p-b-6">
									<a href="/product?sort=asc" class="filter-link stext-106 trans-04">
										Od manje prema većoj
									</a>
								</li>
  
							</ul>
						</div>

						
						

					 
					</div>
				</div>
			</div>

			<div class="row isotope-grid">
				{% for i in productList.items %}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block1 -->
					<div class="block2">

						<div class="block2-pic hov-img0">
							<a href="/product_detail/{{i.id}}"><img src="/{{i.image}}" alt="IMG-PRODUCT"  width="300px" height="320px"></a>					
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="/product_detail/{{i.id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{i.web_name}}
								</a>

								<span class="stext-105 cl3">
									{{'%0.2f'| format(i.price|float)}} kn
								</span>
							</div>
							<!-- wishlist -->
							<!-- <div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="static/images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="static/images/icons/icon-heart-02.png" alt="ICON">
									 </a>
							</div> -->
						</div>
					</div>
				</div>
				{% endfor %}
	<!---End ProductList--> 
				
			</div>		
		</div>
		
		<!---Paginaction--> 

		<div class="row">
		  <div class="col text-center">
				{% set category_id=0  %}
				{% if categoryId %}
				{% set category_id=categoryId  %}
				{% endif %}
				{% if productList.has_prev %}
				<a href="{{url_for('product', id= category_id, keyword=request.args.get('keyword'),sort=request.args.get('sort'), page=productList.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previus</a>
				{% endif %}
				{% for page_num in productList.iter_pages() %}
				{% if page_num %}
				{% if productList.page == page_num %}
				
				<a href="{{url_for('product', id=category_id, keyword=request.args.get('keyword'),sort=request.args.get('sort'), page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
				{% else %}
				<a href="{{url_for('product', id=category_id, keyword=request.args.get('keyword'),sort=request.args.get('sort'), page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
				{% endif %}
				{% else %}
				...
				{% endif %}
				{% endfor %}

				{% if productList.has_next %}
				<a href="{{url_for('product', id=category_id, keyword=request.args.get('keyword'),sort=request.args.get('sort'),page=productList.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
				{% endif %}

			</div>			
		</div>
				
	</div>
	 

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	
{% endblock %}



<!--===============================================================================================-->	
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/slick/slick.min.js"></script>
	<script src="/static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
